body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px;
    font-family:  'Barlow', sans-serif;
    color: black;
    background-color: var(--lighter-grey);
}
h1, h2, h3{
    font-weight: 700;
    color: white
}
h1 {
    font-size: 32px;
    line-height: 40px;
    background-color: var(--orange);
    width: max-content;
    margin: 10px auto 40px;
    padding: 5px;
}
h2 {
    font-size: 18px;
    line-height: 22px;
    background-color: var(--blue);
    width: max-content;
    padding: 5px;
    margin: auto;
    margin-bottom: 20px;
}
.mt-3 {
    margin-top: 25px;
}
:root {
    --orange: #D06350;
    --blue: #2962E2;
    --light-blue:#E9F4FB;
    --grey: #535353;
    --lighter-grey: #F7F7F5;

}
*,*:before,*:after{
    box-sizing: border-box;
}
header {
    height: 80px;
    background-color: white;
    box-shadow: 0px 2px 8px rgba(221, 221, 221, 0.5);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
header .container {
    height: 80px;
}
header a {
    text-decoration: none;
    color: black;
}
header .hhc-logo img {
    width: 50px;
    height: 100%;
    object-fit: contain;
}
header .desktop-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
header .center-block {
    display: flex;
}
header .center-block a {
    display: block;
    margin: auto 15px;
}
header .right-block {
    min-width: 20px;
}
header .mobile-menu {
    display: none;
    position: relative;
    justify-content: center;
}
header .mobile-menu details {
      position: absolute;
      left: 15px;
      top: 15px;
}
header .mobile-menu details summary {
    display: block;
    list-style: none;
}
header .mobile-menu details summary::-webkit-details-marker {
    display: none;
}
header .mobile-menu details summary .menu-cta {
    width: 25px;
    height: 22px;
}
header .mobile-menu details summary .menu-cta span {
    width: 25px;
    height: 2px;
    background-color: var(--blue);
    display: block;
    border-radius: 6px;
    position: absolute;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
header .mobile-menu details summary .menu-cta span:nth-child(1) {
    top: 0;
}
header .mobile-menu details summary .menu-cta span:nth-child(2),
header .mobile-menu details summary .menu-cta span:nth-child(3) {
    top: 10px;
}
header .mobile-menu details summary .menu-cta span:nth-child(4) {
    top: 20px;
}
header .mobile-menu details[open] summary .menu-cta span:nth-child(1),
header .mobile-menu details[open] summary .menu-cta span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
    border: none;
}
header .mobile-menu details[open] summary .menu-cta span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
header .mobile-menu details[open] summary .menu-cta span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
header .mobile-menu details .menu-opened {
    background-color: white;
    position: absolute;
    left: -23px;
    top: 50px;
    width: 100vw;
    padding: 23px;
    box-shadow: 0px 2px 8px rgba(221, 221, 221, 0.5);
}
header .mobile-menu details .menu-opened  a {
    display: block;
    font-size:18px;
    margin: 20px 0;
}
.container{
    max-width: 1200px;
    background-color: white;
    margin: 0 auto;
    padding: 10px;
}
#password_reset_complete .container,
#password_reset_confirm .container,
#password_reset_done .container {
    background-color: transparent;
}
#password_reset_complete .container,
#password_reset_done .container {
    text-align: center;
}
.content {
    margin-top: 100px;
}
form, label, input {
    display: block;
}
.card {
    background-color: white;
    width: 375px;
    max-width: 95vw;
    margin: 10px auto;
    box-shadow: 0px 2px 11px rgba(41, 98, 226, 0.15);
    border-radius: 8px;
}
br {
    display: none;
}
.helptext {
display: block;
margin-bottom: 10px;
}
#id_choice, label[for="id_choice"] {
    display: none;
}
#registration_form .card {
    padding: 30px;
}
#password_reset_confirm .card,
#password_reset_form .card,
#authorize .card {
    padding: 20px;
}
.card .login-form,
.card form {
    padding: 10px 20px;
}
.card label {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 35px;
}
#password_reset_confirm .card label:nth-of-type(2) {
    margin-top: 30px;
}
.card input {
    width: 100%;
    border: solid 1px var(--grey);
    height: 32px;
    margin: 10px 0;
}
.card .login-form a {
    color: black;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 30px;
    display: block
}
.card input[type="submit"],
.button {
    background-color: var(--blue);
    width: fit-content;
    height: fit-content;
    color: white;
    border-radius: 74px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 30px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}
#registration_form .card input[type="submit"] {
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 0;
}
#authorize .card {
    text-align: center;
    font-size: 18px;
}
.card .login-form input[type="submit"] {
    padding: 15px;
}
#password_reset_confirm .card input[type="submit"],
#password_reset_form .card input[type="submit"],
#authorize .card input[type="submit"],
.button {
    padding: 10px 15px;
}
#authorize .card input[type="submit"][name="allow"] {
    margin-left: 15px;
}

.no-account {
    background-color: var(--blue);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 0 0 8px 8px;
}
.no-account > div {
    margin: 20px 0;
}
.no-account bold {
    font-weight: 700;
}
.no-account a {
    width: 10%;
    position: relative;
}
.no-account a img {
    height: 16px;
    position: absolute;
    top: calc(50% - 8px);
    right: 0;
}
#password_reset_form form {
    margin: 20px 0;
}

#password_reset_complete p {
    font-size: 18px;
}
#checkout .card {
    max-width: 90%;
    width: 500px;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#checkout .card .description {
    margin: auto;
    font-size: 18px;
}
#checkout .card .button,
#success .card .button {
    margin: 30px auto;
}
.text-center {
  text-align: center;
}
#registration_form .formulaire {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
#cancel h2,
#success h2 {
    color: white;
    padding: 5px;
    font-weight: 700;
    display: inline-block;
    font-size: 32px;
    line-height: 40px;
    background-color: var(--orange);
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
}
#success .card,
#cancel .card { 
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}
#success .card .round {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  background-color: var(--light-blue);
  margin: auto;
  display: flex;
}
#success .card .round .validate{
    width: 74px;
    margin: auto;
}
#success .title {
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
}
@media (max-width: 576px) {
    header .desktop-menu {
      display: none;
    }
    header .mobile-menu {
      display: flex;
    }
}